{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main>
  <div class="container wow fadeIn" style="height: 100vh;">
    <h2 class="my-5 h2 text-center">Захиалга баталгаажуулах</h2>
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card" style="overflow: auto; display: block;">
          <form method="POST" class="card-body" action="">
            {% csrf_token %}

            <h3>Хүргэх хаяг</h3>

            <div class='hideable_shipping_form'>
              <div class="row" style="box-sizing:border-box; position:relative">
                <div class="col-md-8 mb-4" style="max-width: 280px; padding-right: 0px; margin-bottom: 0px !important;">
                  Хүргэлтийн бүсээ сонгоно уу:
                </div>
                <div style="margin-left: 20px;">
                  <!-- <input type="radio" id="a" name="zone" value="a">
                    <label for="a">А бүс (₮3,500)</label>
                    <input type="radio" id="b" name="zone" value="b">
                    <label for="b">Б бүс (₮5,000)</label> -->
                  {{ form.delivery }}
                </div>
              </div>
              <select id='duureg' name="duureg">
                <option value="" selected disabled>Дүүрэг</option>
                {% for district in form.duureg %}
                <option {{ district }}></option>
                {% endfor %}
              </select>

              <div class="md-form mb-5" style="margin-bottom: 1.5rem !important;">
                <input type='text' placeholder='1-р xороо / Жаргалан хотхон' id='khoroo_khotkhon' name='khoroo_khotkhon'
                  class='form-control' />
                <label for="khoroo_khotkhon" class="">Хороо / Хотхон</label>
              </div>

              <div class="md-form mb-5" style="margin-bottom: 1.5rem !important;">
                <input type='text' placeholder='5-р байр' id='bair' name='bair' class='form-control' />
                <label for="bair" class="">Байр / Гудамжны дугаар</label>
              </div>

              <div class="md-form mb-5" style="margin-bottom: 1.5rem !important;">
                <input type='text' placeholder='2-р орц' id='orts' name='orts' class='form-control' />
                <label for="orts" class="">Орц</label>
              </div>

              <div class="md-form mb-5" style="margin-bottom: 1.5rem !important;">
                <input type='text' placeholder='5 давхар' id='davhar' name='davhar' class='form-control' />
                <label for="davhar" class="">Давхар</label>
              </div>

              <div class="md-form mb-5" style="margin-bottom: 1.5rem !important;">
                <input type='text' placeholder='75 тоот' id='toot' name='toot' class='form-control' />
                <label for="toot" class="">Тоот</label>
              </div>

              <div class="md-form mb-5" style="margin-bottom: 1.5rem !important;">
                <input type='text' placeholder='#1234*' id='code' name='code' class='form-control' />
                <label for="code" class="">Орцны код</label>
              </div>

              <div class="md-form mb-5" style="margin-bottom: 1.5rem !important;">
                <input type='text' placeholder=' ' id='nemelt' name='nemelt' class='form-control' />
                <label for="nemelt" class="">Нэмэлт мэдээлэл</label>
              </div>

              <div class="md-form mb-5" style="margin-bottom: 1.5rem !important;">
                <input type='tel' placeholder=' ' id='contact' name='contact' class='form-control' pattern="[0-9]{8}" />
                <label for=" contact" class="">Холбоо барих дугаар</label>
              </div>

              <!-- <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  <label for="country">Country</label>
                  {{ form.shipping_country }}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  <label for="shipping_zip">Zip</label>
                  <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip'
                    class='form-control' />
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div> -->

            </div>

            <!-- {% if default_shipping_address %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
              <label class="custom-control-label" for="use_default_shipping">Use default shipping address: {{
                default_shipping_address.street_address|truncatechars:10 }}</label>
            </div>
            {% endif %}

            <hr>

            <h3>Billing address</h3>

            <h3>Payment option</h3>

            <div class="d-block my-3">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="custom-control custom-radio">
                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
                  class="custom-control-input" required>
                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
              </div>
              {% endfor %}
            </div>-->

            <!-- <hr class="mb-4"> -->
            <button class="btn btn-primary btn-lg btn-block" style="background: black !important;"
              type="submit">Захиалга
              дуусгах</button>

          </form>

        </div>

      </div>

      <div class="col-md-4 mb-4">
        <img src="/static/img/deliveryZone.png" alt="delivery_zone" style="max-height: 400px;">
        {% include "order_snippet.html" %}
      </div>

    </div>

  </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
  var hideable_shipping_form = $('.hideable_shipping_form');
  var hideable_billing_form = $('.hideable_billing_form');

  var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
  var use_default_billing = document.querySelector("input[name=use_default_billing]");

  use_default_shipping.addEventListener('change', function () {
    if (this.checked) {
      hideable_shipping_form.hide();
    } else {
      hideable_shipping_form.show();
    }
  })

  use_default_billing.addEventListener('change', function () {
    if (this.checked) {
      hideable_billing_form.hide();
    } else {
      hideable_billing_form.show();
    }
  })

</script>
{% endblock extra_scripts %}