<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <hr class="my-4">
  <div class="flex-container"
    style="display: flex; justify-content: center; display: flex; justify-content: center; align-items: center;">
    <div style="order: 1; flex-grow: 1; flex-basis: 0; padding-bottom: 5px !important;">
      <!-- <h2 style="margin-bottom: 0;">MIRUSKINCARE</h2> -->
      <label style="color: white;">А бүс хүргэлт ₮4000 <br> 24 цагийн дотор хүргэгдэнэ.</label>
    </div>
    <div style="order: 2; flex-grow: 1; flex-basis: 0; padding-bottom: 5px !important">
      <h2 style="margin-bottom: 0;">MIRUSKINCARE</h2>
      <label style="color: gray;">олон брэнд нэг дор</label>
    </div>

    <!-- Social icons -->
    <div class="pb-4"
      style="order: 3; flex-grow: 1; flex-basis: 0; padding-left: 50px; padding-top: 5px; height: 90px; padding-bottom: 5px !important">
      <div class="flex-container" style="display: flex; justify-content: center; flex-direction: column;">
        <div class="pb-4"
          style="order: 1; flex-grow: 1; flex-basis: 0; padding-left: 50px; padding-top: 5px; padding-bottom: 5px !important;">
          <a href="https://www.instagram.com/miruskincare/" target="_blank">
            <i class="fab fa-instagram mr-3 fa-2x"></i>
          </a>

          <a href="https://www.facebook.com/Miruskincare-739433446196944" target="_blank">
            <i class="fab fa-facebook-f mr-3 fa-2x"></i>
          </a>
        </div>
        <div class="pb-4"
          style="order: 2; flex-grow: 1; flex-basis: 0; padding-left: 50px; padding-top: 5px; padding-bottom: 5px !important">
          <a href="https://www.facebook.com/Miruskincare-739433446196944" target="_blank">
            <label style="color: gray;">email: mirusskincare.mn@gmail.com</label>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Social icons -->



  <!--Copyright-->
  <div class="footer-copyright py-3" style="background: gray;">
    © {% now "Y" %} Copyright: Miruskincare.com </a>
  </div>
  <!--/.Copyright-->

</footer>